if user
  form(method='post', action='/logout')
    input(name='logout', type='hidden', value='DELETE')
    p #{user.name}さん、こんにちは!
      a(href='javascript:', onClick='forms[0].submit()') [ログアウト]
else
  p ログインしてください
  form(method='post', action='/')
    fieldset
      legend ログイン
      p
        label(for='name') ユーザー名：
        input(type='text' name='name')
      p
        label(for='pwd') パスワード：
        input(type='password', name='pwd')
      input(type='submit')
